################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Super Mario/Super Mario/Super Mario.vcproj.ZICO-PC.ZICO.user
/Super Mario/Super Mario/Super Mario.vcproj.ZICO-PC.ZICO.user
